{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_login'|trans }}
{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            {{ 'massage_log'|trans }} {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">{{ 'massage_sign_in'|trans }}</h1>
    <label for="inputEmail">{{'label_mail'|trans}}</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
    <label for="inputPassword">{{'label_password'|trans}}</label>
    <input type="password" name="password" id="inputPassword" class="form-control" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <button class="btn btn-lg btn-primary" type="submit">
        {{ 'action_sign_in'|trans }}
    </button>
</form>
{% endblock %}
