{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_wallet_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_wallet_list'|trans }}</h1>
    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>
        <div class="btn btn-light">
            <a href="{{ url('wallet_create') }}" title="{{ 'action_create'|trans }}">
                    {{ 'action_create'|trans }}</a>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label_id'|trans, 'wallet.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_created_at'|trans, 'wallet.createdAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_updated_at'|trans, 'wallet.updatedAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_name'|trans, 'wallet.name') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_balance'|trans, 'wallet.balance') }}</th>
                <th>{{ 'label_actions'|trans }}</th>

            </tr>
            </thead>
            <tbody>
            {% for wallet in pagination.items %}
                <tr>
                    <td>{{ wallet.id }}</td>
                    <td>{{ wallet.createdAt|format_date('long') }}</td>
                    <td>{{ wallet.updatedAt|format_date('long') }}</td>
                    <td>{{ wallet.name }}</td>
                    <td>{{ wallet.balance }}</td>
                    <td>
                        <a href="{{ url('wallet_show', {id: wallet.id}) }}" title="{{ 'action_view'|trans }}">
                            {{ 'action_view'|trans }}
                        </a>

                        <a href="{{ url('wallet_edit', {id: wallet.id}) }}" title="{{ 'action_edit'|trans }}">
                            {{ 'action_edit'|trans }}
                        </a>
                        {% if not wallet.transactions|length %}
                            <a href="{{ url('wallet_delete', {id: wallet.id}) }}" title="{{ 'action_delete'|trans }}">
                                {{ 'action_delete'|trans }}
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {% include 'default/_single_flash_message.html.twig' with {
                type: 'warning',
                message: 'message.empty_list'|trans
            } %}
        </p>
    {% endif %}
{% endblock %}