{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_wallet_details'|trans({'%id%': wallet.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_wallet_details'|trans({'%id%': wallet.id|default('')}) }}</h1>
    {% if wallet is defined and wallet|length %}
        <dl class="dl">
            <dt>{{ 'label_id'|trans }}</dt>
            <dd>{{ wallet.id }}</dd>
            <dt>{{ 'label_name'|trans }}</dt>
            <dd>{{  wallet.name }}</dd>
            <dt>{{ 'label_balance'|trans }}</dt>
            <dd>{{  wallet.balance }}</dd>
        </dl>
        <p>
            <a href="{{ url('wallet_index') }}" title="{{ 'action_back_to_list'|trans }}">
                {{ 'action_back_to_list'|trans }}
            </a>
        </p>
    {% else %}
        <p>
            {% include 'default/_single_flash_message.html.twig' with {
                type: 'warning',
                message: 'message_empty_list'|trans
            } %}
        </p>
    {% endif %}
{% endblock %}