{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_transaction_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_transaction_list'|trans }}</h1>
    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>
        <div class="btn btn-light">
            <a href="{{ url('transaction_create') }}" title="{{ 'action_create'|trans }}">
                {{ 'action_create'|trans }}</a>
        </div>
        <div class="btn btn-light">
            <a href="{{ url('operation_index') }}" title="{{ 'label_operation'|trans }}">
                {{ 'label_operation'|trans }}</a>
        </div>
        <div class="btn btn-light">
            <a href="{{ url('wallet_index') }}" title="{{ 'label_wallet'|trans }}">
                {{ 'label_wallet'|trans }}</a>
        </div>
        <div class="btn btn-light">
            <a href="{{ url('category_index') }}" title="{{ 'label_category'|trans }}">
                {{ 'label_category'|trans }}</a>
        </div>
        <div class="btn btn-light">
            <a href="{{ url('payment_index') }}" title="{{ 'label_payment'|trans }}">
                {{ 'label_payment'|trans }}</a>
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label_id'|trans, 'transaction.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_name'|trans, 'transaction.name') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_date'|trans, 'transaction.date') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_amount'|trans, 'transaction.amount') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_createdAt'|trans, 'transaction.createdAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_updatedAt'|trans, 'transaction.updatedAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_category'|trans, 'category.name') }}</th>
                <th>{{ 'label_wallet'|trans }}</th>
                <th>{{ 'label_payment'|trans }}</th>
                <th>{{ 'label_operation'|trans }}</th>
                <th>{{ 'label_actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for transaction in pagination.items %}
                <tr>
                    <td>{{ transaction.id }}</td>
                    <td>{{ transaction.name }}</td>
                    <td>{{ transaction.date|format_date }}</td>
                    <td>{{ transaction.amount }}</td>
                    <td>{{ transaction.createdAt|format_date('long') }}</td>
                    <td>{{ transaction.updatedAt|format_date('long') }}</td>
                    <td>{{ transaction.category.name }}</td>
                    <td>{{ transaction.wallet.name }}</td>
                    <td>{{ transaction.payment.name}}</td>
                    <td>{{ transaction.operation.name }}</td>


                    <td>
                        {% if is_granted('VIEW', transaction) %}
                            <a href="{{ url('transaction_show', {id: transaction.id}) }}" title="{{ 'action_view'|trans }}">
                                {{ 'action_view'|trans }}
                            </a>
                        {% endif %}
                        {% if is_granted('EDIT', transaction) %}
                            <a href="{{ url('transaction_edit', {id: transaction.id}) }}" title="{{ 'action_edit'|trans }}">
                                {{ 'action_edit'|trans }}
                            </a>
                        {% endif %}
                        {% if is_granted('DELETE', transaction) %}
                            <a href="{{ url('transaction_delete', {id: transaction.id}) }}" title="{{ 'action_delete'|trans }}">
                                {{ 'action_delete'|trans }}
                            </a>
                        {% endif %}
                    </td>
                </tr>
                    {% if is_granted('ROLE_AUTHOR', transaction) %}
                        <div class="btn btn-light">
                            <a href="{{ url('category_index') }}" title="{{ 'label_category'|trans }}">
                                {{ 'label_category'|trans }}</a>   </div>
                        <div class="btn btn-light">
                            <a href="{{ url('payment_index') }}" title="{{ 'payment_category'|trans }}">
                                {{ 'payment_category'|trans }}</a>
                        </div>
                    {% endif %}
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message_empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}