{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_transaction_details'|trans({'%id%': transaction.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_transaction_details'|trans({'%id%': transaction.id|default('')}) }}</h1>
    {% if transaction is defined and transaction|length %}
        <dl class="dl">
            <dt>{{ 'label_id'|trans }}</dt>
            <dd>{{ transaction.id }}</dd>
            <dt>{{ 'label_name'|trans }}</dt>
            <dd>{{  transaction.name }}</dd>
            <dt>{{ 'label_date'|trans }}</dt>
            <dd>{{  transaction.date|format_date }}</dd>
            <dt>{{ 'label_amount'|trans }}</dt>
            <dd>{{  transaction.amount }}</dd>
            <dt>{{ 'label_created_at'|trans }}</dt>
            <dd>{{ transaction.createdAt|format_date('long') }}</dd>
            <dt>{{ 'label_updated_at'|trans }}</dt>
            <dd>{{ transaction.updatedAt|format_date('long') }}</dd>
            <dt>{{ 'label_category'|trans }}</dt>
            <dd>{{ transaction.category.name }}</dd>
            <dt>{{ 'label_wallet'|trans }}</dt>
            <dd>{{ transaction.wallet.name }}</dd>
            <dt>{{ 'label_payment'|trans }}</dt>
            <dd>{{ transaction.payment.name }}</dd>
            <dt>{{ 'label_operation'|trans }}</dt>
            <dd>{{ transaction.operation.name }}</dd>


        </dl>
        <p>
            <a href="{{ url('transaction_index') }}" title="{{ 'action_back_to_list'|trans }}">
                {{ 'action_back_to_list'|trans }}
            </a>
        </p>
    {% else %}
        <p>
            {{ 'message_item_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}